$green2: #6cd089;
$purple2: #b557b7;
$blue2: #6eadfd;
$turqoise2: #31cec2;

$green: linear-gradient(135deg, #bcec68 -20%, #0eb9a4 120%);
$purple: linear-gradient(135deg, #f572c1 -20%, #6a37ab 120%);
$blue: linear-gradient(135deg, #80ecf7 -20%, #706aff 120%);
$turqoise: linear-gradient(135deg, #5de2ff -20%, #08bb8a 120%);

$settings: #f2f2f2;
$settings-content: #fff;
$settings-info: #f9f9f9;
$settings-color: #444;
$settings-error: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0.97) 0%,
  rgba(245, 245, 245, 0.97) 100%
);
$top-menu-height: 62px;
